src/main/mule/get-likes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-likesFlow" doc:id="57c28a2a-f44d-45c7-b54f-72449f665b11" >
		<http:request method="GET" doc:name="Request" doc:id="98ec4fc3-2640-4ec7-a204-a5e9fcc1c6f6" config-ref="mockAPI" path="/users/{userId}/posts/{postId}/likes" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"postId" : payload.source.id,
	"userId" : payload.source.userId
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
