src/main/mule/graphqlpoc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:graphql="http://www.mulesoft.org/schema/mule/graphql" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/graphql http://www.mulesoft.org/schema/mule/graphql/current/mule-graphql.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <apikit:config name="graphqlpoc-config" api="graphqlpoc.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="graphqlpoc-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="graphqlpoc-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="graphqlpoc-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="graphqlpoc-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="graphqlpocFlow1" doc:id="318b288e-89ad-446e-99af-2a801808924a" >
		<http:listener doc:name="Listener" doc:id="3b9b82f7-b861-42cf-acc9-29a72ed26ee3" config-ref="HTTP_Listener_config" path="/graphql"/>
		<graphql:router doc:name="Router" doc:id="43508425-333f-4a18-9d42-2f18be740579" config-ref="Graphql_Config" payload="#[payload]"/>
	</flow>
	<flow name="graphqlpocFlow" doc:id="843e81c7-c8d0-4570-bdbd-81b1f5d5d46f" >
		<http:listener doc:name="Listener" doc:id="a338d984-1771-46a4-a7a5-ba0aff2124a0" config-ref="HTTP_Listener_config" path="/console/graphql"/>
		<parse-template doc:name="Parse Template" doc:id="1420f1c0-791c-4b4e-a140-e631eb79d5c2" location="index.html"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1fb5e648-c68b-414e-a958-56c058d79d52" />
	</flow>
	<flow name="get:\users\(userId)\posts\(postId)\likes:graphqlpoc-config">
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="6c389894-6b03-436f-bc4d-ce2d1c237dd8" config-ref="Graphql_Config" fieldName="like"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="f24e5c05-021f-4850-8b99-4fd091763bb1">
			<scripting:code><![CDATA[payload = ['params': attributes.getArguments(), 'source': attributes.getSource()]]]></scripting:code>
		</scripting:execute>
		<flow-ref doc:name="Flow Reference" doc:id="ba658462-ec30-4bc7-8324-2a9a17ea6bc4" name="get-likesFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="312e8f32-cf3e-423f-ab62-4ea7e64eef47" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\users\(userId)\posts:graphqlpoc-config">
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="c36198be-7593-4e0a-ba97-bbc122744a9e" config-ref="Graphql_Config" fieldName="posts"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="7e95c64c-86d9-4dc7-b758-224a65ba6d53">
			<scripting:code><![CDATA[payload = ['params': attributes.getArguments(), 'source': attributes.getSource()]]]></scripting:code>
		</scripting:execute>
		<flow-ref doc:name="Flow Reference" doc:id="60d54c0d-99ce-4b2e-a8c3-357d6e98ccd9" name="get-postsFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="8b013595-9c0c-4988-947e-93e2a1c8c3be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\users:graphqlpoc-config">
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="8acb0142-ecf1-478c-b701-6987b903c2a9" config-ref="Graphql_Config" fieldName="user" />
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="07f6d786-f70d-4f6c-b559-ac76f6a866a1">
			<scripting:code><![CDATA[payload = ['params': attributes.getArguments()]]]></scripting:code>
		</scripting:execute>
		<flow-ref doc:name="Flow Reference" doc:id="15e2c204-eece-48ab-bc1d-9954633b74ea" name="get-usersFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="04ee59f8-fda9-44c1-8ad0-f0f528f74143" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
